body {
  text-align: center;
  font-family: sans-serif;
}

:root {
  --primary-color: rgb(255, 0, 200);
}

label {
  display: block;
  padding: 5px;
}

.heading {
  font-size: 35px;
  margin: 10px;
  margin-top: 25px;
  padding: 10px;
  font-weight: bold;
}

.index {
  display: block;
  font-size: 20px;
  font-weight: bold;
}

.input {
  border: 2px solid var(--primary-color);
  width: 20%;
  height: 35px;
  border-radius: 7px;
  padding: 4px;
}

.button {
  margin: 20px 10px;
  padding: 5px;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 4px;
  height: 35px;
  width: auto;
}

.output {
  font-size: 30px;
  font-weight: bold;
  margin: 15px;
}

/* footer */

.social-div {
  height: 100px;
  text-align: center;
  margin-top: 80px;
}

.social-div p {
  /* color: white; */
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  margin-left: 35px;
}

.copyright {
  font-size: 15px;
}

footer {
  height: 200px;
  padding: 10px;
  margin: 0 35px;
  margin-top: 30px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.social-links {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 20px 0;
}

.link {
  padding: 10px;
}

.img-last {
  border-radius: 20px;
}

/* Projects style  */

.project-ul {
  list-style: none;
}
